# We don't include node_modules in our projects
node_modules

#
# Exclude built files
#
# Webpack DLL files speed up dev Hot Module Replacement reloads
dll
# Production build of the renderer files
src/dist
# Production build of the Electron main files
src/main/main.prod.js*
# Production built app binaries and installers
release
# Eslint lint command line from package.json generates this cache
.eslintcache

.DS_Store
